<div class="my-8 bg-slate-100 py-4">
    <h2 class="font-xl font-semibold text-center text-slate-700">
        Your hand
    </h2>
    <section class="grid grid-cols-@Player.Hand.Count gap-2 mt-2">
        @foreach (var card in Player.Hand)
        {
            <div class="flex justify-center">
                <Card InnerCard="card" OnCardSelected="CardSelected" />
            </div>
        }
    </section>
    <div class="text-xs text-right font-semibold pt-3  px-4 md:px-8">
        select a card
    </div>
</div>

@code {

    [CascadingParameter]
    private Player Player { get; set; }

    [Parameter]
    public EventCallback<Core.Card> OnCardSelected { get; set; }

    public Core.Card SelectedCard { get; set; }

    protected void CardSelected(Core.Card card)
    {
        SelectedCard = card;
        OnCardSelected.InvokeAsync(card);
    }

}