@page "/"

<PageTitle>Nuevos mundos</PageTitle>

<h1>Hello, world!</h1>

<section class="grid grid-cols-7">

    @foreach (var pile in board.Piles)
    {
        <div class="border-2 rounded p-6">
            @pile.Top?.ToString()
        </div>
    }

</section>

<section class="mt-10">
    @foreach (var card in player.Cards)
    {
        <Card InnerCard="card" />
    }
</section>

@code {
    private Core.Board board;
    private Core.Player player;

    protected override void OnInitialized()
    {
        board = new Board();
        player = new Player(Enumerable.Range(0, 4).Select(x => board.DrawPile.Take()).ToList());
    }
}

